# Ignore compiled files
*.class
*.o
*.out
*.exe

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore logs and temp files
logs/
*.log
node_modules/